{% load static %}

{% include 'EdgarWebsite/header.html' %}
{% block extra_css %}
	<title>Cover Page</title>
{% endblock %}

{% block content %}
<h2>Edgar Reyes</h2>
<h3><i>Cover Letter</h3>
<img src="{% static 'EdgarWebsite/site_images/pc_pic.jpg' %}" width="265" height="333">


<h3>My Intended Major</h3>

	<ul> Computer Science - Cybersecurity</ul>
	<ul> Graduation Year: 2022</ul>

<h3>Experience Summary</h3>
Through out my professional career I have had the opportunity to work closely with technology. From starting off at
working for FedEx Ground, which enhanced my ability to get along with my peers, to moving on to better pastures to work
at DHL Global Forwarding. As an entry writer, this gives me more experience working closely with computers while allowing
me to work closely with customers and fellow peers to be able to complete my daily duties in a timely manner. The position
gives me the opportunity to have a faster typing speed which allows me to be more efficient at my perfered skill set.

<h3>My Preceived Calling</h3>
My beliefs in Christ are what is pushing to go forward on my career. I have allowed the Lord to take control of my life
and lead me to where He wants and knows that I will be happy and safe. Throughout my career I have seen the hand of God
and notice when He says no and yes to my daily choices. It is in God's will that my perfered career path is cybersecurity
and that He will allow me to be employeed by someone who will allow me to prove my skill set and set a competative advantage
to the business.

{% endblock %}

{% include 'EdgarWebsite/footer.html' %}
